<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.databox.mappers.SysOpLogMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.databox.entity.po.SysOpLog">
		<!--日志ID-->
		<id column="log_id" property="logId"  />
		<!--用户ID-->
		<result column="user_id" property="userId"  />
		<!--用户名-->
		<result column="user_name" property="userName"  />
		<!--操作模块（如：文件管理）-->
		<result column="module" property="module"  />
		<!--操作动作（如：删除文件）-->
		<result column="action" property="action"  />
		<!--状态 1:成功 0:失败-->
		<result column="status" property="status"  />
		<!--返回信息或异常提示-->
		<result column="result_msg" property="resultMsg"  />
		<!--操作时间-->
		<result column="create_time" property="createTime"  />
		<!--操作详情(如：操作的文件名称列表)-->
		<result column="detail" property="detail"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 log_id,user_id,user_name,module,action,
		 status,result_msg,create_time,detail
	</sql>

	<sql id="base_condition_filed">
			<if test="query.logId != null">
				 and  log_id = #{query.logId}
			</if>
			<if test="query.userId != null and query.userId!=''">
				 and  user_id = #{query.userId}
			</if>
			<if test="query.userName != null and query.userName!=''">
				 and  user_name = #{query.userName}
			</if>
			<if test="query.module != null and query.module!=''">
				 and  module = #{query.module}
			</if>
			<if test="query.action != null and query.action!=''">
				 and  action = #{query.action}
			</if>
			<if test="query.status != null">
				 and  status = #{query.status}
			</if>
			<if test="query.resultMsg != null and query.resultMsg!=''">
				 and  result_msg = #{query.resultMsg}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.detail != null and query.detail!=''">
				 and  detail = #{query.detail}
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where>
		 <include refid="base_condition_filed" />
	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.userIdFuzzy!= null  and query.userIdFuzzy!=''">
				 and  user_id like concat('%', #{query.userIdFuzzy}, '%')
			</if>
			<if test="query.userNameFuzzy!= null  and query.userNameFuzzy!=''">
				 and  user_name like concat('%', #{query.userNameFuzzy}, '%')
			</if>
			<if test="query.moduleFuzzy!= null  and query.moduleFuzzy!=''">
				 and  module like concat('%', #{query.moduleFuzzy}, '%')
			</if>
			<if test="query.actionFuzzy!= null  and query.actionFuzzy!=''">
				 and  action like concat('%', #{query.actionFuzzy}, '%')
			</if>
			<if test="query.resultMsgFuzzy!= null  and query.resultMsgFuzzy!=''">
				 and  result_msg like concat('%', #{query.resultMsgFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.detailFuzzy!= null  and query.detailFuzzy!=''">
				 and  detail like concat('%', #{query.detailFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM sys_op_log <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM sys_op_log <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.databox.entity.po.SysOpLog">
		<selectKey keyProperty="bean.logId" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO sys_op_log
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.userName != null">
				 user_name,
			</if>
			<if test="bean.module != null">
				 module,
			</if>
			<if test="bean.action != null">
				 action,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.resultMsg != null">
				 result_msg,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.detail != null">
				 detail,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.userName!=null">
				 #{bean.userName},
			</if>
			<if test="bean.module!=null">
				 #{bean.module},
			</if>
			<if test="bean.action!=null">
				 #{bean.action},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.resultMsg!=null">
				 #{bean.resultMsg},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.detail!=null">
				 #{bean.detail},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.databox.entity.po.SysOpLog">
		 INSERT INTO sys_op_log
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.logId != null">
				 log_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.userName != null">
				 user_name,
			</if>
			<if test="bean.module != null">
				 module,
			</if>
			<if test="bean.action != null">
				 action,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.resultMsg != null">
				 result_msg,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.detail != null">
				 detail,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.logId!=null">
				 #{bean.logId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.userName!=null">
				 #{bean.userName},
			</if>
			<if test="bean.module!=null">
				 #{bean.module},
			</if>
			<if test="bean.action!=null">
				 #{bean.action},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.resultMsg!=null">
				 #{bean.resultMsg},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.detail!=null">
				 #{bean.detail},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.userName!=null">
				 user_name = VALUES(user_name),
			</if>
			<if test="bean.module!=null">
				 module = VALUES(module),
			</if>
			<if test="bean.action!=null">
				 action = VALUES(action),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.resultMsg!=null">
				 result_msg = VALUES(result_msg),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.detail!=null">
				 detail = VALUES(detail),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.databox.entity.po.SysOpLog" useGeneratedKeys="true" keyProperty="logId">
		 INSERT INTO sys_op_log(
			 user_id,
			 user_name,
			 module,
			 action,
			 status,
			 result_msg,
			 create_time,
			 detail
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.userName},
				 #{item.module},
				 #{item.action},
				 #{item.status},
				 #{item.resultMsg},
				 #{item.createTime},
				 #{item.detail}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.databox.entity.po.SysOpLog">
		 INSERT INTO sys_op_log(
			 user_id,
			 user_name,
			 module,
			 action,
			 status,
			 result_msg,
			 create_time,
			 detail
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.userName},
				 #{item.module},
				 #{item.action},
				 #{item.status},
				 #{item.resultMsg},
				 #{item.createTime},
				 #{item.detail}
			 )
		 </foreach>
			on DUPLICATE key update 
			user_id = VALUES(user_id),
			user_name = VALUES(user_name),
			module = VALUES(module),
			action = VALUES(action),
			status = VALUES(status),
			result_msg = VALUES(result_msg),
			create_time = VALUES(create_time),
			detail = VALUES(detail)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.databox.entity.query.SysOpLogQuery">
		 UPDATE sys_op_log
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.userName != null">
				 user_name = #{bean.userName},
			</if>
			<if test="bean.module != null">
				 module = #{bean.module},
			</if>
			<if test="bean.action != null">
				 action = #{bean.action},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.resultMsg != null">
				 result_msg = #{bean.resultMsg},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.detail != null">
				 detail = #{bean.detail},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from sys_op_log
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据LogId修改-->
	<update id="updateByLogId" parameterType="com.databox.entity.po.SysOpLog">
		 UPDATE sys_op_log
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.userName != null">
				 user_name = #{bean.userName},
			</if>
			<if test="bean.module != null">
				 module = #{bean.module},
			</if>
			<if test="bean.action != null">
				 action = #{bean.action},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.resultMsg != null">
				 result_msg = #{bean.resultMsg},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.detail != null">
				 detail = #{bean.detail},
			</if>
 		 </set>
 		 where log_id=#{logId}
	</update>

	<!-- 根据LogId删除-->
	<delete id="deleteByLogId">
		delete from sys_op_log where log_id=#{logId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByLogId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from sys_op_log where log_id=#{logId}
	</select>

</mapper>